.app-container{
	padding: 10%;
}
.routes-item{
	list-style-type: none;
}
.routes{
	margin-top: 15%;
}
.routes-item .lead{
	text-transform: capitalize;
}
.routes-count{
	margin-top: 3%;
}
.map-container{
	padding: 10%;
}

.map-container h1{
	text-transform: capitalize;
	font-weight: bold;
}
